
<!--Page 1-->
<section>
    <div id="page-1-content" class="p-0 m-0 vh-100 vw-100 page d-flex flex-row justify-content-around align-items-center" style="background:linear-gradient(45deg, #FF4B91 10%, #0802A3 10%, #0802A3 90%, #FF4B91 90%);">

        <!--Main content-->
        <div id="main-content-page-1" class="w-100 h-100 d-flex flex-row align-items-center justify-content-around px-5">
            <!--Left div-->
            <div class="w-100 h-100 d-flex flex-column justify-content-center p-3">
                <!--Text box-->
                <div id="mine-desc-text-box" class="w-100 h-25">
                    <h1>Creativity.</h1>
                    <p>
                        I am a very creative person, always trying to inovate and find solutions to difficult problems.
                        With an insatiable curiosity and an eye for detail, I am committed to pushing boundaries, exploring new technologies, and creating solutions that stand out.
                    </p>
                </div>
                <!--Line div-->
                <div id="line-left" class="w-100" style="height:0.5%; margin-top:10%; background-color:yellow;">
                </div>
                <!--Spacing div-->
                <div class="mt-2 w-100" style="height:10%;"></div>
            </div>
            <!--Right div-->
            <div class="w-100 h-100 d-flex flex-column justify-content-center p-3">
                <!--Spacing div-->
                <div class="mb-2 w-100" style="height:10%;"></div>
                <!--Line div-->
                <div id="line-right" class="w-100" style="height:0.5%; margin-bottom:10%; background-color:yellow;">
                </div>
                <!--Text box-->
                <div id="mine-desc-text-box" class=" w-100 h-25">
                    <h1 id="adap-text">Adaptability.</h1>
                    <p>
                        I am quick to assimilate new concepts and technologies. Whether it's mastering a new programming language, exploring a cutting-edge framework, or adapting to changes in project requirements, I approach each challenge with enthusiasm and a commitment to continuous learning.
                    </p>
                </div>
            </div>

        </div>

        <!--Mobile-->
        <div id="page-1-mobile" class="w-100 h-100 d-flex flex-column justify-content-center px-5">
            <!--Text box-->
            <div id="mine-desc-text-box" class="w-100 h-25">
                <h1>Creativity.</h1>
                <p>
                    I am a very creative person, always trying to inovate and find solutions to difficult problems.
                    With an insatiable curiosity and an eye for detail, I am committed to pushing boundaries, exploring new technologies, and creating solutions that stand out.
                </p>
                <!--Line div-->
                <div id="line-left" class="w-100" style="height:0.5%; background-color:yellow;">
                </div>
            </div>

            <!--Text box-->
            <div id="mine-desc-text-box" class="w-100 h-25">
                <h1>Adaptability.</h1>
                <p>
                    I am quick to assimilate new concepts and technologies. Whether it's mastering a new programming language, exploring a cutting-edge framework, or adapting to changes in project requirements, I approach each challenge with enthusiasm and a commitment to continuous learning.
                </p>
                <!--Line div-->
                <div id="line-left" class="w-100" style="height:0.5%; background-color:yellow;">
                </div>
            </div>
        </div>
    </div>
</section>